.form{
    width: 50%;
    margin: auto;
    padding: 20px;
    margin-top: 2%;
    margin-bottom: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* .pro_pic{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1%;
} */
.btns{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
  }

.options{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 3%;
}
  